VPS_HOST=server_ip_or_domain
VPS_PORT=22
VPS_USER=root

# Use one option:
# 1) password access
VPS_PASSWORD=server_password_here

# 2) ssh key access
VPS_KEY_PATH=C:\Users\artki\.ssh\id_ed25519

# If VPS_USER is not root and sudo asks for a password, fill it here.
VPS_SUDO_PASSWORD=

APP_DIR=/opt/wedding-bot
